
/* #faf5ff Experiment */
.projects-wrapper .card{
	border:none;
}
body{background-color: #eeebff;}

.sticky-header-wrapper>div{
	background: #eeebff;
}
.white-fade {
    display: block;
    height: 12px;
    background: linear-gradient(0deg, transparent, #eeebff);
}
.card{
	/*box-shadow: 2px 4px 8px #ccc;*/
	/*box-shadow: 4px 8px 8px -8px #aaa, -4px -8px 8px -8px white;    */
	/*box-shadow: 4px 4px 8px -4px #aaa, -2px -2px 8px #fdfcff;*/
	/*box-shadow: 2px 2px 4px #aaa, -4px -4px 4px #fdfcff;*/
	border: none;
	box-shadow: 2px 2px 4px #d1d1d1, -4px -4px 4px #f8f5ff;
    background: #eeebff;
    background: linear-gradient(135deg, #eeebff, hsla(249, 100%, 98%, 1));
    margin-top: 0.5rem;
}
.name-v, .name-g{
	text-shadow: 1px 2px #fff;
}
.container-about {
    background: linear-gradient(0deg, #eeebff, white 45%);
}

/* #faf5ff Experiment */