
                    
/* ABOUT*/

      #about>div{
        max-width: 333px;
      }
      #about h2{
        font-size: 1.6rem;
      }
      @media (min-width: 360px){
        #about h2{
          font-size: 2rem;
        }
      }
      @media (min-width: 768px){
      #about>div{
        max-width: 690px;
      }
      }
      .about-pic{
        max-width: 250px;
      }
      .about-details{
        color: #333;
      }
      .about-details tr td:first-child{
        text-align: center;            
        vertical-align: baseline;
      }

      .name-v, .name-g, .name-d { display: inline-block; }
      .name-v, .name-g { /*color: #ffc42f;*/ color:#fcad03; }
      .name-v, .name-g {text-transform: uppercase;}
      .name-g {
        display: block;
        font-size: 1.03rem;
      }


.faux-img-cards{
	display: block;
	height: 180px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

    /* border: 1px solid #ccc; */
    /* box-shadow: inset 2px 2px 8px 4px #eee;*/
}
.faux-img-cards img{display:none;}


subtle{ opacity:0.7; }
.o-2{ opacity:0.2;  }

.bg-dark{
  color: #ddd;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


/* LINKS */
a{
  color: #333;
}
a:hover:not(.b-0), .bg-dark a:active:not(.b-0), .bg-dark a:focus:not(.b-0) {
  color: #000;
  text-decoration: none;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.bg-dark a{
  color: #ddd;
}
.bg-dark a:hover:not(.b-0), .bg-dark a:active:not(.b-0), .bg-dark a:focus:not(.b-0), .nav-link.active {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
}

a.nav-link.py-2.mx-2 {
    max-width: 120px;
    margin-left: auto !important;
}

/* SECTIONS */
section{
  padding-top: 75px !important;
}

.lead{
  font-size: 1.15rem;
}

.work-card-group .card{
  /*min-width: 200px;*/
}

.badge-list{
	max-width: 360px !important;
}

/* STICKY HEADER WITH WHITE FADE*/
/*.sticky-header-wrapper{*/
	/*position: sticky;*/
    /*top: 65px;*/
    /*z-index: 1;*/
    /* background: white; */
    /* box-shadow: 0 4px 8px #fff;*/
/*}*/
/*.sticky-header-wrapper>div{*/
	/*background: white;*/
/*}*/
/*.white-fade {*/
    /*display: block;*/
    /*height: 12px;*/
    /*background: linear-gradient(0deg, transparent, white);*/
/*}*/


/* PROJECTS */
.container-projects .card{
  border: none;
  background-color: transparent;
  /* border: 5px solid #444; */
  /* padding: 5px; */
  /* border-radius: 10px; */
  /* background-color: #1a1a1a; */
  /* box-shadow: 6px 4px 12px -8px #1a1a1a; */
  /* color: white;*/
}
.container-projects .faux-img-cards {
    /*background-position: center;*/
    border-radius: 8px;
    background-color: #1a1a1a;
    box-shadow: 6px 4px 12px -8px #1a1a1a;
    color: white;
    border: 5px solid #1a1a1a;
}
/*.container-projects .faux-img-cards{
  background-position: top;
}*/
.container-projects .card p{
  color: white;
  margin: 0;
  padding: 2px 5px;
  background: #1a1a1a;
  background: #1a1a1a70;
  text-shadow: 1px 1px 1px #1a1a1a;
  margin-top: -28px;
  border-radius: 0 0 5px 5px;
}

.card-img-link-icon {
  width: 100%;
  height: 100%;
  background: #33333360;
}
.card-img-link-icon i {
    font-size: 56px;
    color: white;
    text-shadow: 1px 1px 2px black;
}


/* CORNER HOVER BUTTON */
pa-backdrop{
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
}
.btn-corner-hover.encolhido{
	background-color: #007bff !important;
}
.btn-corner-hover{
  opacity: 0;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  height: 48px !important;
  width: 48px !important;
  border-radius: 24px;
  box-shadow: 2px 4px 8px #00000088;
  /*position: sticky;*/
  position: fixed;
  right: 24px !important;
  bottom: 24px;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: width .3s ease-in-out, border-radius .4s ease-in-out, opacity .4s ease-in-out;
  -moz-transition: width .3s ease-in-out, border-radius .4s ease-in-out, opacity .4s ease-in-out;
  -o-transition: width .3s ease-in-out, border-radius .4s ease-in-out, opacity .4s ease-in-out;
  transition: width .3s ease-in-out, border-radius .4s ease-in-out, opacity .4s ease-in-out;
}
.btn-corner-hover a{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 50px 10px 15px;
  vertical-align: text-bottom;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: opacity .3s ease .3s;
  transition: opacity .3s ease .3s;
  color:white !important;
}
.btn-corner-hover i{
  position: absolute;
  top: 0;
  right: 0; 
  padding: 10px 11px;
  font-size: 22px;
  background: #007bff;
  -webkit-transition: border-radius .4s ease-in-out;
  -moz-transition: border-radius .4s ease-in-out;
  -o-transition: border-radius .4s ease-in-out;
  transition: border-radius .4s ease-in-out;
  pointer-events: none;
}
.btn-corner-hover.expandido:hover,
.btn-corner-hover.expandido{
  color: white !important;
  width: 192px !important; 
  border-radius: 18px;
}
.btn-corner-hover.expandido:hover a,
.btn-corner-hover.expandido a {
  /*display: inline-block;*/
  opacity: 1;
  display: block;
} 
.btn-corner-hover.expandido:hover i {
  background: #0069d9;
  border-radius: 18px;
}


/* LIGHTBOX 
lb-backdrop{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width:; 100%;
}*/



/* MISC */
h2{
  position: relative;
}
.badge-in-dev{
  /*font-size: 8px;*/
  /*vertical-align: super;*/\
  /*position: absolute;*/\
  /*top: 8px;*/\
  /*margin-left: 10px;*/\
}

.card-group-xs-1-lg-2{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.card-header, .card-footer{
	background-color: transparent;
	border: none;
}


@media (min-width: 576px){
  section h2{
    margin-bottom:1.5rem;
  }
  .lead{
    font-size: 1.25rem;
  }
  .card-group-xs-2-md-3 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }


	a.nav-link.py-2.mx-2 {
	    max-width: 100px;
	    margin-left: unset !important;
	}
}
@media (min-width: 768px){
  .card-group-xs-2-md-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .btn-corner-hover{
	  bottom: unset;
	  top: 89px;
  }
}
@media (min-width: 992px){
  .card-group-xs-1-lg-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}


@media print {
  .cover{ display: none }
}